# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\nguyn\OneDrive - Office 365\Nhập Môn Xử Lý Ngôn Ngữ Tự Nhiên\Natural-Language-Processing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
